[MASTER]
disable=
  C0114, # no docstring
  C0116, # no docstring
  C0115, # no docstring
  W0108, # Lambda may not be necessary
  R1724, # no elif
  W0511, # no TODO
  R1705, # no else
  R0903, # too few public methods
  W0718, # broad exception caught
  W0707, # raise-missing-from

[FORMAT]
max-line-length=180
good-names=i,j,k,f
disable=logging-fstring-interpolation
