name: Automatic Lotto Buy

#on: [push]
on:
  schedule:
    - cron: '*/5 * * * 1' # every Monday on 07:00 PM (KST)
#   - cron: '55 23 * * 5' # UST 기준의 크론. UST 23:55 는 KST 08:55

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:  
      - uses: actions/checkout@v3    
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
      - name: Install python package
        run: |        
          pip install dhapi
          
      - name: Run!      
        run: |        
          dhapi buy_lotto645 -q
        env:
            USERNAME: ${{ secrets.USERNAME }}
            PASSWORD: ${{ secrets.PASSWORD }}
      #    COUNT: ${{ secrets.COUNT }}
     #   SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      #    DISCORD_WEBHOOK_URL:  ${{ secrets.DISCORD_WEBHOOK_URL }}
