name: Buy weekly lotto645
on:
  schedule:
    - cron: '55 23 * * 0' # 한국시간 기준 매주 일요일 오전 8시 55분
  workflow_dispatch:      # 테스트를 위해 workflow가 dispatch 되는 경우 실행이 가능하도록 추가
jobs:
  buylotto645:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v3    
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' 
      - name: Install dhapi
        run: |        
          pip install dhapi
      - name: Buy Lotto645
        run: |        
          echo $USERNAME > ~/.dhapi_profile # secret에 저장된 내용을 프로필 파일에 저장 
          echo $PASSWORD >> ~/.dhapi_profile
          dhapi buy_lotto645 -q
        env:
            USERNAME: ${{ secrets.USER_ID }} # secret에 저장된 내용을 불러옴
            PASSWORD: ${{ secrets.USER_PW }}
